<h1>Owner's booking requests</h1>

<% @owner_bookings.each do |booking| %>
  <% @cat = Cat.find(booking.cat_id) %>
  <% if @cat.user == current_user %>
    <p>----------------------------------------------------------------</p>
    <p><%="Rental period: #{booking.date_from} - #{booking.date_to}"%></p>
    <p><%="Cat name: #{@cat.name} "%></p>
    <p><%="Cat owner: #{@cat.user.first_name} #{@cat.user.last_name} "%></p>
    <p><%="Cat renter: #{booking.user.first_name} #{booking.user.last_name} "%></p>
    <p>Approval status: .....TODO</p>
    raise
  <% end %>
  <%= raise %>
<% end %>
