<div class="container my-bookings">
  <h1 class="booking-h1">Here are your fluff ball bookings</h1>
<br> <br>
  <% @bookings.each do |booking| %>
    <div class="card-product-cat mb-4">
      <div class="cat-booking-image">
        <% @cat = Cat.find(booking.cat_id) %>
        <%= cl_image_tag @cat.photos.first.key %>
      </div>
      <div class="details pt-5 bg.light w-100">
      <% if current_user.id == booking.cat.user.id %>
        <p><%="Rental period: #{booking.date_from} - #{booking.date_to}"%></p>
        <p><%="Cat name: #{@cat.name} "%></p>
        <p><%="Cat renter: #{booking.user.first_name} #{booking.user.last_name} "%></p>
        <p><%= "Rental Status: #{booking.rent_status}"%></p>
      <% if booking.rent_status == "accepted" %>
        <p><strong>You approved this booking</strong></p>
        <%= link_to "Reject this booking", reply_booking_path(booking, status: 'rejected'), class: "btn btn-danger"%>
      <% elsif booking.rent_status == "rejected" %>
        <p><strong>You rejected this booking</strong></p>
        <%= link_to "Approve this booking", reply_booking_path(booking, status: 'accepted'), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Approve", reply_booking_path(booking, status: 'accepted'), class: "btn btn-primary" %>
          <%= link_to "Reject", reply_booking_path(booking, status: 'rejected'), class: "btn btn-danger" %>
      <% end %>

      <% else %>
        <p><%="Rental period: #{booking.date_from} - #{booking.date_to}"%></p>
        <p><%="Cat name: #{@cat.name} "%></p>
        <p><%="Cat owner: #{@cat.user.first_name} #{@cat.user.last_name} "%></p>
        <p><%="Cat renter: #{booking.user.first_name} #{booking.user.last_name} "%></p>
        <p><%= "Rental Status: #{booking.rent_status}"%></p>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
