<div class="container">
  <div class="cards-index">
    <% @cats.each do |cat| %>
      <%= link_to cat_path(cat), :class => "text-decoration-none" do %>
          <div class="card-cat-index">
            <%= image_tag("card_cat.jpg") %>
            <div class="card-cat-infos-index">
              <div>
                <h2><%= cat.name %></h2>
                <p><%= cat.description %></p>
              </div>
                <%# <%= image_tag("king.jpeg") class="card-cat-user avatar-bordered" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
