<div class="container">
  <%= render 'shared/home_banner' %>

  <%= render 'shared/register_banner' %>

  <div class="cards">
    <%= render 'shared/cards' %>
    <%= render 'shared/cards' %>
    <%= render 'shared/cards' %>
    <%= render 'shared/cards' %>
  </div>
</div>
