<div class="container">
  <%= simple_form_for @cat do |f| %>
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
