<div class="container">

  <div>
    <div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("pair-cats-cuddling.jpg") %>');">
    <h1 class="index-heading">Browse cats</h1>
    <%= form_tag cats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search breed"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%# <% @cats.each do |cat| %>
    <%# <li><%= link_to cat.name, cat_path(cat) %>
  <%# <% end %>
  <%= render 'shared/cards_index' %>
</div>
