<div class="row justify-content-center">
  <div class="col-sm-6 mx-auto">

    <div class="container new-cat">
    <br>
      <h1 colour>Add your cat</h1>

    <%= simple_form_for @cat do |f| %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
