<div class="container">
  <h1>Add your cat</h1>

<%= simple_form_for @cat do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit %>
<% end %>

