
<div class="container">
  <h2>This is <%= @cat.name %></h2>
  <p>Breed: <%= @cat.breed %></p>
  <p>Age: <%= @cat.age %></p>
  <p>Description: <%= @cat.description %></p>

  <% @cat.photos.each do |photo|  %>
  <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
  <% end %>
</div>

<div class="container">
  <button class="btn btn-flat"><%= link_to("Book", new_cat_booking_path(@cat))%></button>
  <button class="btn btn-flat"><%= link_to("Edit", edit_cat_path(@cat)) %></button>
  <button class="btn btn-flat"><%= link_to "Delete", cat_path(@cat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
</div>
